<a href="https://colab.research.google.com/github/Gopikanta/Daily_Coding/blob/main/daily_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Start Coding - Python**

Complete the python code to print "Hello World".

Example:

Output: "Hello World"

In [1]:
print("Hello World")

Hello World

**Learn to Comment - Python**


In Python, comments can be written as mentioned below: # This is a comment
""" This is also a comment """
You are given a complete function that outputs a, b, and c. Comment the code that outputs b, so only a and c gets printed.

Examples:

Input: a = 5, b = 6, c = 15
Output:
5
15
Input:a = 5, b = 8, c = 15
Output:
5
15

In [ ]:
def values(a, b, c):
  print(a)
  #print(b)
  print(c)

values(5, 6, 15)
values(5, 8, 15)

5
15
5
15

**Print In Python**

You are given two variables, a and b. Your task is to print these variables in the following formats:

With space: Print a and b in a single line, separated by a space, followed by a newline.
Without newline: Print a and b separated by a space, but do not end the output with a newline.
With separator: Print a and b separated by a specified separator, followed by a newline.
Without space: Print a and b in a single line, with no spaces between them, followed by a newline.
Examples:

Input: a = "Hello", b = "World", separator = '&'
Output:
Hello World
Hello WorldHello&World
HelloWorld

In [ ]:
a = "Hello"
b = "World"
separator = '&'
#With space
print(a , b)
#Without newline and #With Separator
print(a,b, sep=" ",end = "")
print(a+separator+b)
#Without space
print(a+b)

Hello World
Hello WorldHello&World
HelloWorld

**Multi Printing**

Given two inputs that are stored in variables a and n, you need to print a, n times in a single line without space between them. Output must have a newline at the end.

Examples:

Input: a = "Hello", n = 5
Output: HelloHelloHelloHelloHello
Explanation: a is printed n=5 times in a single line without space between them.

In [ ]:
a = "Hello"
n = 5
print(a*n,end = "\n")

#using loop

a = "Hello"
n = 5
for i in range (n):
  print(a, end ="")
print()

#using while loop

a = "Hello"
n = 5

i = 1
while i <= 5:
  print(a, end = "")
  i = i + 1
print()

HelloHelloHelloHelloHello
HelloHelloHelloHelloHello
HelloHelloHelloHelloHello

**Int Str**

Given three inputs that are stored in the variables a, b, and c. You need to print a a times and b b times  in a single line separated by c.

Examples:

Input: a = 6, b = 4, c = &
Output: 666666&4444
Explanation: 6 printed 6 times and 4 printed 4 times seperated by c = &.

In [ ]:
a = 6
b = 4
c = "&"
for i in range(a):
  print(a, end ="")
print(c, end="")
for i in range(b):
  print(b,end="")


# another way
a = 6
b = 4
c = "&"

print(str(a) * a + c + str(b) * b)


#using while loop
a = 6
b = 4
c = "&"

i = 0
while i < a:
    print(a, end="")
    i += 1

print(c, end="")

j = 0
while j < b:
    print(b, end="")
    j += 1

print()  # optional: to move to the next line after output

666666&4444666666&4444
666666&4444

**Input in Python**


You need to perform three separate tasks based on the given input:
String Input and Print: Take a text input as a string and print it as it is.Integer Input and Add: Take an integer input n, add 10 to it, and print the result.Float Input and Multiply: Take a floating-point number as input, multiply it by 10, and print the result.
Examples:
Input: s = "Hello", n = 20, f = 5.5
Output:
Hello
30
55.0
Explanation:
The string Hello is printed as it is.
The integer 20 is increased by 10 and results in 30.
The floating-point number 5.5 is multiplied by 10 and results in 55.0.

In [ ]:
s ="Hello"
print(s)
n = 20
print(n + 10)
f = 5.5
print(f * 10)

Hello
30
55.0

**Arithmetic Operators**

You are given two integer variables x and y. You need to perform the following operations:
p = x + y : Additionq = x - y : Subtractionr = x * y :Multiplications = x / y : Divisiont = x % y : Modulo
Examples:
Input: x = 1, y = 2
Output: 3 -1 2 0 1
Explanation: The given operations are performed.

In [ ]:
x = 1
y = 2
print(x + y, x - y, x * y, x // y, x % y)

3 -1 2 0 1

**Logical Operators**

Logical operators and, or, not are used in condition checking. Like a and b checks if both a and b are True. First a is checked then b is checked. a or b checks if either of a or b is True. If one is True; it doesn't check for the other. not a complements the boolean value of a.
Note: 0 and empty string are False and all other values are True.
In this question you basically need to do
a and b
a or b
not a

Examples:

Input: a = 0, b = 2
Output: 0 2 True
Explanation: 0 and 2 gives 0. 0 or 2 gives 2. not 0 give True as 0 is False.
Input: a = 3, b = 4
Output: 4 3 False
Explanation: 3 and 4 gives 4 as 3 is True and 4 is also True, so all conditions are passed. 3 or 4 gives 3 as or only checks if either of the condition is true and here 3 is True itself so it doesn't proceed forward. not 3 gives False as 3 was True.

In [2]:
a = 0
b = 2


print(a and b, a or b, not a)

0 2 True

**Bitwise Operators**

https://colab.research.google.com/drive/16dhknOlcXygOAMw26Woy4zUtzLEAcUww#scrollTo=3WJfozUwIi4K&line=14&uniqifier=1

Given three positive integers a, b and c. Your task is to perform some bitwise operations on them as given below:
1. d = a ^ a
2. e = c ^ b
3. f = a & b
4. g = c | (a ^ a)
5. e = ~ e

Note: ^ is for xor.

Then print d e f g space seperately. Move the cursor to the next line after printing.

Input: a = 1, b = 2, c = 3
Output: 0 -2 0 3
Explanation: We print d e f g after performing the given operations.

In [3]:
a = 1
b = 2
c = 3
d = a ^ a
e = c ^ b
f = a & b
g = c | (a ^ a)
e = ~ e
print(d, e, f, g)

0 -2 0 3

**Type Conversion**

Given a double value d, typecast it to an integer value and print it.

Example:

Input: d = 10.23
Output: 10

Explanation: The integer value of 10.23 is 10

In [4]:
d = 10.23
print(int(d))

10

**TypeCast And Double It**

Given an input num as a string. You need to typecast into an integer and double it.

Examples:

Input: num = "5"
Output: 10
Explanation: Typecast "5" to int and then double it 5 * 2 = 10

In [6]:
num = "5"
print(int(num) * 2)

10

**The Modulo Task**

Given an integer N. FInd an integer K for which N%K is the largest ( 1 <= K < N).



Example 1:

Input:
N = 3
Output:
2

Explanation:

3%1 = 0

3%2 = 1

So, the modulo is highest for 2.

In [8]:
N = 3
max_modulo = -1
best_k = -1

# Loop from 1 to N-1
for k in range(1, N):
    current_modulo = N % k
    if current_modulo > max_modulo:
        max_modulo = current_modulo
        best_k = k

# Print the result
print(best_k)

2