<a href="https://colab.research.google.com/github/Gopikanta/Daily_Coding/blob/main/daily_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Python Codin Practice](https://www.geeksforgeeks.org/python-coding-practice-problems/)

                                         **14th May 2025**

**Start Coding - Python**

Complete the python code to print "Hello WOrld"

Example :

Output : Hello World

In [ ]:
print("Hello World")

Hello World

**Learn to Comment - Python**

In python, comments can be writtern as mentioned below

You are given a complete function that outputs a, b, and c . Comment the code that outputs b, so only a and c gets printed.

Examples:

Input a = 5, b = 6, c = 15

Output :
5

15

Input a = 5, b = 8, c = 15

Output:

5

15

In [ ]:
def values(a, b, c):
  print(a)
  #print(b)
  print(c)

values(5, 6, 15)
values(5, 8, 15)

5
15
5
15

**Print ln Python**



You are given two variables, a and b. Your task is to print these variables in the following formats:

With space: Print a and b in a single line, separated by a space, followed by a newline. Without newline: Print a and b separated by a space, but do not end the output with a newline. With separator: Print a and b separated by a specified separator, followed by a newline. Without space: Print a and b in a single line, with no spaces between them, followed by a newline. Examples:

Input: a = "Hello", b = "World", separator = '&' Output: Hello World Hello WorldHello&World HelloWorld

In [ ]:
a = "Hello"
b = "World"
separator = '&'
#With space
print(a , b)
#Without newline and #With Separator
print(a,b, sep=" ",end = "")
print(a+separator+b)
#Without space
print(a+b)

Hello World
Hello WorldHello&World
HelloWorld

**Multi Printing**


Given two inputs that are stored in variables a and n, you need to print a, n times in a single line without space between them. Output must have a newline at the end.

Examples:

Input: a = "Hello", n = 5 Output: HelloHelloHelloHelloHello Explanation: a is printed n=5 times in a single line without space between them.

In [ ]:
a = "Hello"
n = 5
print(a*n,end = "\n")

#using loop

a = "Hello"
n = 5
for i in range (n):
  print(a, end ="")
print()

#using while loop

a = "Hello"
n = 5

i = 1
while i <= 5:
  print(a, end = "")
  i = i + 1
print()

HelloHelloHelloHelloHello
HelloHelloHelloHelloHello
HelloHelloHelloHelloHello

**Int Str**

Given three inputs that are stored in the variables a, b, and c. You need to print a a times and b b times in a single line separated by c.

Examples:

Input: a = 6, b = 4, c = & Output: 666666&4444 Explanation: 6 printed 6 times and 4 printed 4 times seperated by c = &.

In [ ]:
a = 6
b = 4
c = "&"
for i in range(a):
  print(a, end ="")
print(c, end="")
for i in range(b):
  print(b,end="")


# another way
a = 6
b = 4
c = "&"

print(str(a) * a + c + str(b) * b)


#using while loop
a = 6
b = 4
c = "&"

i = 0
while i < a:
    print(a, end="")
    i += 1

print(c, end="")

j = 0
while j < b:
    print(b, end="")
    j += 1

print()  # optional: to move to the next line after output

666666&4444666666&4444
666666&4444


**15th May 2025**

**Input In Python**

You need to perform three separate tasks based on the given input:

String Input and Print: Take a text input as a string and print it as it is.

Integer Input and Add: Take an integer input n, add 10 to it, and print the result.

Float Input and Multiply: Take a floating-point number as input, multiply it by 10, and print the result.

Input: s = "Hello", n = 20, f = 5.5

Output:

Hello

30

55.0

Explanation:

The string Hello is printed as it is.

The integer 20 is increased by 10 and results in 30.

The floating-point number 5.5 is multiplied by 10 and results in 55.0.

In [ ]:
s, n, f = "Hello", 20, 5.5
print(s)
print(n + 10)
print(f * 10)

Hello
30
55.0

**Arithmetic Operators**

You are given two integer variables x and y. You need to perform the following operations:

p = x + y : Addition

q = x - y : Subtraction

r = x * y :Multiplication

s = x / y : Division

t = x % y : Modulo

Examples:

Input: x = 1, y = 2

Output: 3 -1 2 0 1

Explanation: The given operations are performed.

Input: x = 3, y = 4

Output: 7 -1 12 0 3

Explanation: The given operations are performed

In [ ]:
x = 1
y = 2
p = x + y
q = x - y
r = x * y
s = x // y
t = x % y
print(p, q, r, s, t)

3 -1 2 0 1

**Logical Operators**

Logical operators and, or, not are used in condition checking. Like a and b checks if both a and b are True. First a is checked then b is checked. a or b checks if either of a or b is True. If one is True; it doesn't check for the other. not a complements the boolean value of a.

Note: 0 and empty string are False and all other values are True.
In this question you basically need to do

a and b

a or b

not a

Examples:

Input: a = 0, b = 2

Output: 0 2 True

Explanation: 0 and 2 gives 0. 0 or 2 gives 2. not 0 give True as 0 is False.

In [ ]:
a = 0
b = 2
print(a and b, a or b, not a)

0 2 True

**Bitwise Operators**
Given three positive integers a, b and c. Your task is to perform some bitwise operations on them as given below:
1. d = a ^ a
2. e = c ^ b
3. f = a & b
4. g = c | (a ^ a)
5. e = ~ e
Note: ^ is for xor.
Then print d e f g space seperately. Move the cursor to the next line after printing.

Examples:

Input: a = 1, b = 2, c = 3

Output: 0 -2 0 3

Explanation: We print d e f g after performing the given operations.

In [ ]:
a, b, c = 1, 2, 3
d = a ^ a
e = c ^ b
f = a & b
g = c | (a ^ a)
e = ~e
print(d, e, f, g)

0 -2 0 3 -2

**Type Conversion**

Given a double value d, typecast it to an integer value and print it.

Example:

Input: d = 10.23

Output: 10

Explanation: The integer value of 10.23 is 10

In [ ]:
d = 10.23
print(int(d))

10

**TypeCast And Double It**

Given an input num as a string. You need to typecast into an integer and double it.

Examples:

Input: num = "5"

Output: 10

Explanation: Typecast "5" to int and then double it 5 * 2 = 10

Input: num = "12"

Output: 24

Explanation: Typecast "12" to int and then double it 12 * 2 = 24

In [ ]:
num = "5"
print(int(num) * 2)

10

**The Modulo Task**

Given an integer N. FInd an integer K for which N%K is the largest ( 1 <= K < N).



Example 1:

Input:

N = 3

Output:

2

Explanation:

3%1 = 0

3%2 = 1

So, the modulo is highest for 2.

In [ ]:
N = 3

max_mod = -1
best_k = -1

for k in range(1, N):
    current_mod = N % k
    if current_mod > max_mod:
        max_mod = current_mod
        best_k = k

print(best_k)

2

**Last Digit of a number**

Given an integer n. Write a program to print the last digit of the number. Also, move the cursor to the next line.

Examples:

Input: n = 10

Output: 0

Input: n = 9768

Output: 8

In [ ]:
n = 9768
print(n % 10)

8

**Mark Even and Odd - Python**

Given a positive integer x. Your task is to check, if it is even or odd (Any number that gives zero as remainder when divided by 2 is an even number)

Examples

Input: x = 4

Output: Even

Input: x = 5

Output: Odd

In [ ]:
x = 5
if x % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

**Check the status - Python**

Given two integer variables a and b, and a boolean variable flag. The task is to check the status and return accordingly.

Return True for the following cases:

Either a or b (not both) is non-negative and the flag is false.
Both a and b are negative and the flag is true.
Otherwise, return False.

Examples:

Input: a = 1, b = -1, flag = False

Output: True

Explanation: Since a is positive, b is negative, and flag is False, condition 1 holds true, so the function returns True.

In [ ]:
def check_status(a, b, flag):
    if flag:
        return a < 0 and b < 0
    else:
        return (a >= 0 and b < 0) or (a < 0 and b >= 0)

# Example usage
a = 1
b = -1
flag = False
print(check_status(a, b, flag))  # Output: True

True

**16th MAY 2025**

**EASY QUESTIONS**

**Swap The Numbers**

Given two numbers a and b, you need to swap their values so a holds the value of b and b holds the value of a. Just write the code to swap values of a and b at the specified place.

Examples

Input: a = 1, b = 2

Output: 2 1

Explanation: Initially a = 1 and b = 2, now a = 2 and b = 1.

In [1]:
a = 1
b = 2
temp = a
a = b
b = temp
print(a, b)

2 1

**Test if tuple is distinct**

Given a tuple arr , print "True" if all elements of tuple are different otherwise print "False".

A tuple is a collection of items that are ordered and unchangeable.

Input:

arr = (1, 2, 3, 4, 5, 4)

Output: False

Input:

arr = (1, 2, 3, 4, 5)

Output: True

In [8]:
arr = (1, 2, 3, 4, 5, 4)

if len(arr) == len(set(arr)):
    print("True")
else:
    print("False")



# Explaination :

#A tuple can have duplicate elements.

#A set cannot have duplicates.

#So if len(arr) == len(set(arr)), then all elements in the tuple are unique.

#arr = (1, 2, 3, 4, 5, 4)
# set(arr) = {1, 2, 3, 4, 5}
# len(arr) = 6, len(set(arr)) = 5 → Output: False

False

**Find index**

Given a tuple arr with distinct elements and an integer x, find the index position of x. Assume to have x in the tuple always. Print the index (0-based).

Examples:

Input: arr = (1, 2, 3, 4, 5), x = 3

Output: 2

Input: arr = (3, 2, 1, 5, 4), x = 5

Output: 3

In [9]:
arr = (1, 2, 3, 4, 5)
x = 3
find_index = arr.index(x)
print(find_index)

2

**Day before N days**

Given two integers d and n. Where d is the day, out of 7 days of the week, d varies from 0 to 6 as shown below.

0 - Sunday

1 - Monday

2 - Tuesday

3 - Wednesday

4 - Thursday

5 - Friday

6 - Saturday

You have to return the index for the day which is n days before the given day d.

Examples:

Input: d = 4, n = 3

Output: 1

Explanation: 3 days before the 4th(Thursday) is 1(Monday).

In [10]:

d = 4
n = 3

day_before = (d - n) % 7
print(day_before)

1

**Solving queries**

Given a dictionary, and a list of queries(keys), you have to find and print the value of each query from the dictionary if present else it prints "None".

Examples:

Input:

dict = {1:"abc", 2: "cde", 3: "fgh"}

query = [2, 3, 4]

Output:

cde

fgh

None

In [23]:

dict = {1:"abc", 2: "cde", 3: "fgh"}
query = [2,3,4]
for i in query:
  if i in dict:
   print((dict[i]))
  else:
   print("None")

cde
fgh
None

**Table Difference**

Given two number n1 and n2, n1 > n2. Find the differences between mathematical tables of n1 and n2 and print in a single line.
Note: Don't add a new line in the end.

Example :

Input: n1 = 9, n2 = 4

Output: 5 10 15 20 25 30 35 40 45 50

Explanation:

  9 18 27 36 45 54 63 72 81 90

- 4  8 12 16 20 24 28 32 36 40

-----------------------------------------

= 5 10 15 20 25 30 35 40 45 50

In [25]:
n1 = 9
n2 = 4
for i in range(1, 11):
  print(i * n1 - i * n2, end = " ")

5 10 15 20 25 30 35 40 45 50

**Print Square Wall Using Nested Loops**

Given an integer n,  write a program to print the square wall of size n using nested loops. Try not to use String multiplication.

Examples:

Input: n = 5
Output:
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
Explanation: Its perfect square wall.

In [26]:
n = 5
for i in range(1, n + 1):
  for j in range(1, j + 1):
    print("*", end = "")
  print()

*****
*****
*****
*****
*****